* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    background-color: bisque;
}

nav {
    display: inline-flex;
    list-style: none;
    justify-content: space-around;
    float: right;
}

nav li {
    padding: 2px;
}

.hero {
    /* setting for main graphic*/
    height: 150px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/meetoverhead.jpg");
    background-size: cover;
    background-position: center;
}


body {
    background-color: blueviolet;
}

article {
    display: flex;
}

aside {
    flex-basis: 30%;
    border-right: solid black 2px;
    margin-right: 20px;
    text-align: right;
    padding: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-basis:60%;

}

section :first-child{
    flex-basis:100%;
}

project {
    border: solid 1px;
    padding: 10px;
    flex-basis: 50%
}


790 pixels max